@using Bammemo.Service.Abstractions.CommonServices
@using Bammemo.Service.Abstractions.Dtos.Analytics
@rendermode InteractiveAuto
@implements IDisposable
@inject PersistentComponentState PersistentComponentState
@inject ICommonAnalyticsService CommonAnalyticsService

<div class="bammemo-slip-tag-list">
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="@(16/2)" VerticalGap="@(16/4)" Wrap>
        @foreach (var tag in popularTags ?? Enumerable.Empty<GetSlipTagsDto.TagItemAnalyticModel>())
        {
            <FluentButton BackgroundColor="var(--neutral-layer-2)"
                          Color="var(--accent-foreground-active)"
                          OnClick="@(_ => OnTagSelectedAsync(tag.Tag))"
                          IconStart="@(new Icons.Regular.Size16.NumberSymbol())">
                @tag.Tag
            </FluentButton>
        }

        <FluentAnchor Style="background-color: var(--neutral-layer-2); color: var(--accent-foreground-active)"
                      Class="bammemo-slip-tag-list-view-all"
                      IconStart="@(new Icons.Regular.Size16.MoreHorizontal())"
                      Href="/tags"
                      Appearance="Appearance.Outline">
            查看全部
        </FluentAnchor>
    </FluentStack>
</div>

@code {
    private PersistingComponentStateSubscription persistingSubscription;
    private GetSlipTagsDto.TagItemAnalyticModel[]? popularTags;

    [Parameter]
    public string[]? SelectedTags { get; set; }

    [Parameter]
    public EventCallback<string[]?> OnSelectedTagChanged { get; set; }

    protected async override Task OnInitializedAsync()
    {
        persistingSubscription = PersistentComponentState.RegisterOnPersisting(PersistData);

        if (!PersistentComponentState.TryTakeFromJson(nameof(popularTags), out popularTags))
        {
            popularTags = (await CommonAnalyticsService.GetSlipTagsAsync(20)).Tags;
        }
    }

    private async Task OnTagSelectedAsync(string tag)
    {
        var selectedTags = new List<string>(SelectedTags ?? Enumerable.Empty<string>());

        if (selectedTags.Contains(tag))
        {
            selectedTags.Remove(tag);
        }
        else
        {
            selectedTags.Add(tag);
        }

        await OnSelectedTagChanged.InvokeAsync(selectedTags.ToArray());
    }

    private Task PersistData()
    {
        PersistentComponentState.PersistAsJson(nameof(popularTags), popularTags);
        return Task.CompletedTask;
    }

    void IDisposable.Dispose() => persistingSubscription.Dispose();
}
