@using Bammemo.Service.Abstractions.CommonServices
@using Bammemo.Service.Abstractions.Dtos.Slips
@using Bammemo.Service.Abstractions.Enums
@rendermode InteractiveAuto
@implements IDisposable
@inject PersistentComponentState PersistentComponentState
@inject ICommonSlipService CommonSlipService
@inject IDialogService DialogService

<BammemoPageTitle Title="@(slip?.Title ?? $"{slip?.CreatedAt.ToLocalTimeString()} 发表的内容")" />

@if (slip?.Excerpt != null)
{
    <SectionContent SectionName="MetaDescription">
        <meta name="description" content="@slip.Excerpt" />
    </SectionContent>
}

@if (slip?.Tags?.Any() ?? false)
{
    <SectionContent SectionName="MetaKeywords">
        <meta name="keywords" content="@String.Join(",", slip.Tags)" />
    </SectionContent>
}

<div>
    @if (slip?.Title != null)
    {
        <div class="bammemo-slip-detail-title">
            <FluentGrid Justify="JustifyContent.Center">
                <FluentGridItem xs="12" lg="8" xl="6">
                    <FluentLabel Typo="Typography.PageTitle">@slip.Title</FluentLabel>
                </FluentGridItem>
                <FluentGridItem lg="3" HiddenWhen="GridItemHidden.MdAndDown" />
            </FluentGrid>
        </div>
    }

    <FluentGrid Justify="JustifyContent.Center">

        <FluentGridItem xs="12" lg="8" xl="6">
            <BammemoCard>
                @if (slip != null)
                {
                    <FluentStack Orientation="Orientation.Vertical">
                        <BammemoMarkdownSection Id="@slip.Id" Content="@slip.Content" FullDisplay />

                        <BammemoSlipImageAttachments Attachments="imageAttachments" Wrap OnImageClick="@(async (int i)=> await HandleClickImageAsync(i))" />
                        <BammemoSlipFileAttachments Attachments="otherAttachments" />
                    </FluentStack>
                }
                else
                {
                    <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
                        <FluentSkeleton Width="100%" Height="1rem" />
                        <FluentSkeleton Width="100%" Height="1rem" />
                        <FluentSkeleton Width="40%" Height="1rem" />
                    </FluentStack>
                }
            </BammemoCard>
        </FluentGridItem>

        <FluentGridItem lg="3" HiddenWhen="GridItemHidden.MdAndDown">
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="16" Style="width: 250px;">

                <BammemoSlipDetailProperty Title="发表于">
                    @if (slip != null)
                    {
                        <FluentLabel>
                            @slip.CreatedAt.ToLocalTimeString()
                        </FluentLabel>
                    }
                    else
                    {
                        <FluentSkeleton Width="100%" Height="1rem" />
                    }
                </BammemoSlipDetailProperty>

                @if (slip?.UpdateAt.HasValue ?? false)
                {
                    <BammemoSlipDetailProperty Title="最后修改于">
                        <FluentLabel>
                            @slip.UpdateAt.Value.ToLocalTimeString()
                        </FluentLabel>
                    </BammemoSlipDetailProperty>
                }

                @if ((slip?.Tags?.Any() ?? false))
                {
                    <BammemoSlipDetailProperty Title="Tags">
                        @if (slip != null)
                        {
                            <BammemoSlipTagLinks Tags="slip.Tags" />
                        }
                        else
                        {
                            <FluentStack Orientation="Orientation.Horizontal" VerticalGap="16">
                                @for (var i = 0; i < 3; i++)
                                {
                                    <FluentSkeleton Width="@((4 * 16) + "px")" Height="1rem" />
                                }
                            </FluentStack>
                        }
                    </BammemoSlipDetailProperty>
                }

            </FluentStack>
        </FluentGridItem>
    </FluentGrid>
</div>

@code {
    private PersistingComponentStateSubscription persistingSubscription;
    private SlipDetailDto? slip;
    private List<SlipAttachmentDto> imageAttachments = new();
    private List<SlipAttachmentDto> otherAttachments = new();

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? LinkName { get; set; }

    private SlipIdOrLinkNameType Type => Id != null ? SlipIdOrLinkNameType.Id : (LinkName != null ? SlipIdOrLinkNameType.LinkName : throw new ArgumentNullException("IdOrLinkName"));

    protected override void OnInitialized()
    {
        persistingSubscription = PersistentComponentState.RegisterOnPersisting(PersistData);
    }

    protected async override Task OnParametersSetAsync()
    {
        if (!PersistentComponentState.TryTakeFromJson(nameof(slip), out slip))
        {
            slip = Type switch
            {
                SlipIdOrLinkNameType.Id => await CommonSlipService.GetByIdAsync(Id),
                SlipIdOrLinkNameType.LinkName => await CommonSlipService.GetByLinkNameAsync(LinkName),
                _ => throw new NotSupportedException(Type.ToString())
            };
        }

        if (slip?.Attachments?.Any() ?? false)
        {
            foreach (var attachment in slip.Attachments)
            {
                if (FileNameHelper.IsImage(attachment.FileName))
                {
                    if (attachment.ShowThumbnail)
                    {
                        imageAttachments.Add(attachment);
                    }
                }
                else
                {
                    otherAttachments.Add(attachment);
                }
            }
        }
    }

    private Task PersistData()
    {
        PersistentComponentState.PersistAsJson(nameof(slip), slip);
        return Task.CompletedTask;
    }

    private async Task HandleClickImageAsync(int attachmentIndex)
    {
        var dialog = await DialogService.ShowDialogAsync(
            DialogHelper.From<BammemoSlipImageAttachmentPreviewDialog>(),
            new BammemoSlipImageAttachmentPreviewDialog.ImageAttachmentPreviewModel
                {
                    Attachments = imageAttachments,
                    CurrentIndex = attachmentIndex
                },
            new DialogParameters
                {
                    PreventDismissOnOverlayClick = true,
                    PreventScroll = true,
                    Modal = true,
                // Dialog 每边有 1px 的边框
                    Width = "calc(100dvw - 1px - 1px)",
                    Height = "calc(100dvh - 1px - 1px)",
                });

        await dialog.Result;
    }

    void IDisposable.Dispose() => persistingSubscription.Dispose();
}
