@using Bammemo.Service.Abstractions.Enums
@rendermode InteractiveAuto

@if (RendererInfo.Name != BlazorRendererName.WebAssembly)
{
    <BammemoCard>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center" HorizontalGap="@(16*2)" VerticalAlignment="VerticalAlignment.Center">
            <FluentProgressRing />
            编辑器将在 Blazor WebAssembly 加载后可用，若长时间未载入请刷新页面
        </FluentStack>
    </BammemoCard>
}
else
{
    <div style="width: 100%">
        <FluentStack Orientation="Orientation.Vertical">
            <textarea class="slip-editor-input"
                      placeholder="开始记录…"
                      @bind="content"
                      @bind:event="oninput"
                      @ref="textarea" />

            @if (attachments.Count > 0)
            {
                var imageAttachments = new List<SlipAttachmentModel>();
                var otherAttachments = new List<SlipAttachmentModel>();

                foreach (var attachment in attachments)
                {
                    if (FileNameHelper.IsImage(attachment.FileName))
                    {
                        imageAttachments.Add(attachment);
                    }
                    else
                    {
                        otherAttachments.Add(attachment);
                    }
                }

                if (imageAttachments.Any())
                {
                    <FluentStack Orientation="Orientation.Horizontal" Wrap Class="bammemo-slip-editor-image-attachments-wrap">
                        @foreach (var attachment in imageAttachments)
                        {
                            <BammemoCard Border
                                         @key="attachment.FileMetadataId"
                                         Style="@($"background-image: url('{attachment.Url}'); width: 128px; height: 128px;")"
                                         Class="bammemo-slip-editor-image-preview">
                                <FluentStack Orientation="Orientation.Vertical"
                                             VerticalAlignment="VerticalAlignment.Top"
                                             HorizontalAlignment="HorizontalAlignment.Right"
                                             Class="bammemo-slip-editor-image-preview-actions">
                                    <FluentButton Appearance="Appearance.Stealth"
                                                  IconEnd="@(new Icons.Filled.Size16.Delete())"
                                                  Title="删除"
                                                  OnClick="@(_ => attachments.Remove(attachment))" />

                                    <FluentButton Appearance="Appearance.Stealth"
                                                  IconEnd="@(new Icons.Filled.Size16.ArrowUpRight())"
                                                  Title="插入"
                                                  OnClick="@(async _ => await HandleInsertAttachmentToContentAsync(attachment))" />

                                    @if (attachment.ShowThumbnail)
                                    {
                                        <FluentButton Appearance="Appearance.Stealth"
                                                      IconEnd="@(new Icons.Filled.Size16.Stack())"
                                                      Title="显示缩略图"
                                                      OnClick="@(_ => attachment.ShowThumbnail = false)" />
                                    }
                                    else
                                    {
                                        <FluentButton Appearance="Appearance.Stealth"
                                                      IconEnd="@(new Icons.Filled.Size16.StackOff())"
                                                      Title="不显示缩略图"
                                                      OnClick="@(_ => attachment.ShowThumbnail = true)" />
                                    }
                                </FluentStack>
                            </BammemoCard>
                        }
                    </FluentStack>
                }

                if (otherAttachments.Any())
                {
                    <FluentStack Orientation="Orientation.Horizontal" Wrap Class="bammemo-slip-editor-non-image-attachments-wrap">
                        @foreach (var attachment in otherAttachments)
                        {
                            <BammemoCard Border
                                         @key="attachment.FileMetadataId"
                                         Class="bammemo-slip-editor-non-image-attachments-item">
                                <FluentStack Orientation="Orientation.Horizontal"
                                             VerticalAlignment="VerticalAlignment.Center"
                                             Class="bammemo-slip-editor-non-image-attachments-item-actions">
                                    <FluentLabel Typo="Typography.Subject" title="@attachment.FileName">@attachment.FileName</FluentLabel>
                                    <FluentButton Appearance="Appearance.Stealth"
                                                  IconEnd="@(new Icons.Filled.Size16.ArrowUpRight())"
                                                  Title="插入" />
                                    <FluentButton Appearance="Appearance.Stealth"
                                                  IconEnd="@(new Icons.Filled.Size16.Delete())"
                                                  Title="删除" />
                                </FluentStack>
                            </BammemoCard>
                        }
                    </FluentStack>
                }
            }

            <FluentStack Orientation="Orientation.Horizontal" Class="bammemo-slip-editor-functions">
                @* <FluentButton Appearance="Appearance.Stealth"
                              IconEnd="@(new Icons.Filled.Size20.NumberSymbol())"
                              Title="标签" /> *@

                <FluentInputFile AnchorId="@RenderedSlipAttachmentUploaderId"
                                 DragDropZoneVisible="false"
                                 Multiple
                                 Mode="InputFileMode.Stream"
                                 MaximumFileSize="@(1 * 1024 * 1024)"
                                 OnFileUploaded="@OnAttachmentUploadedAsync"
                                 OnCompleted="@(_ => isAttachmentUploading = false)" />

                <FluentButton Id="@RenderedSlipAttachmentUploaderId"
                              Appearance="Appearance.Stealth"
                              IconEnd="@(new Icons.Filled.Size20.Attach())"
                              Title="上传"
                              Loading="isAttachmentUploading" />

                @*                 <FluentButton Appearance="Appearance.Stealth"
                              IconEnd="@(new Icons.Filled.Size20.LinkMultiple())"
                              Title="链接" /> *@
            </FluentStack>

            <FluentDivider Style="width: 100%;" />

            <FluentStack Orientation="Orientation.Horizontal" Class="bammemo-slip-editor-actions">
                <FluentSelect @bind-Value="status"
                              TOption="SlipStatus"
                              Items="Enum.GetValues<SlipStatus>()"
                              OptionText="@(s => s.ToString())"
                              OptionValue="@(s => ((int)s).ToString())"
                              Width="120px" />

                <FluentStack Orientation="Orientation.Horizontal" Style="justify-content: right;">
                    @if (IsEdit)
                    {
                        <FluentButton Appearance="Appearance.Outline"
                                      OnClick="@(_ => OnEditCanceled.InvokeAsync(true))"
                                      Loading="isSaveButtonLoading">
                            Cancel
                        </FluentButton>
                    }

                    <FluentButton Appearance="Appearance.Accent"
                                  OnClick="OnSaveClickAsync"
                                  Disabled="content == null || content.Length == 0"
                                  Loading="isSaveButtonLoading"
                                  IconEnd="new Icons.Regular.Size20.Send()">
                        Save
                    </FluentButton>
                </FluentStack>
            </FluentStack>
        </FluentStack>
    </div>
}
