@page "/home2"
@using Bammemo.Data
@using Bammemo.Data.Entities
@using Microsoft.EntityFrameworkCore
@inject BammemoDbContext DbContext
@inject IHttpContextAccessor httpContext
@using System.Globalization;

<PageTitle>Home</PageTitle>

@(httpContext.HttpContext.Request.Headers["Accept-Language"])
<br />
@(CultureInfo.DefaultThreadCurrentCulture)
<br />
@(CultureInfo.DefaultThreadCurrentUICulture)
<br />
@(CultureInfo.CurrentCulture)
<br />
<h1>@(String.Join(" ", CultureInfo.CurrentCulture.DateTimeFormat.ShortestDayNames))</h1>


<FluentCalendar />
<FluentCalendar Culture="@(new CultureInfo("zh-cn"))" />
<FluentCalendar Culture="@(new CultureInfo("zh-CN"))" />
<FluentCalendar Culture="@(new CultureInfo("en-us"))" />
<h1>Hello, world! @(slips.Count) </h1>

<ul>
    @foreach (var i in slips)
    {
        <li>
            <FluentEmoji Value="@(new Emojis.PeopleBody.Color.Default.Artist())" />
            @i.Content
        </li>
    }
</ul>


Welcome to your new Fluent Blazor app.


@code {
    private List<Slip> slips = new List<Slip>();

    protected override async Task OnInitializedAsync()
    {
        // var ticks = DateTime.UtcNow.Ticks.ToString();

        // await DbContext.Slips.AddAsync(new Slip
        //     {
        //         Id = ticks,
        //         Content = ticks
        //     });

        // await DbContext.SaveChangesAsync();

        // slips = await DbContext.Slips.ToListAsync();
    }

}