@page "/settings/functions"
@using Bammemo.Service.Abstractions.Enums
@using Bammemo.Service.Abstractions.SettingModels
@using System.Text.Json
@using System.Net.Mime
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<div>
    <BammemoSettingLayout PageTitle="功能">
        @if (model != null)
        {
            <FluentEditForm Model="@model" OnValidSubmit="@HandleValidSubmit" FormName="function_setting" novalidate>
                <DataAnnotationsValidator />

                <div class="bammemo-setting-subtitle">
                    <FluentLabel Typo="Typography.Header">代码高亮</FluentLabel>
                    <FluentLabel Typo="Typography.Body" Color="Color.Info">
                        bammemo 使用 <FluentAnchor Href="https://github.com/highlightjs/highlight.js" Target="_blank" Appearance="Appearance.Hypertext">highlight.js</FluentAnchor> v11.11.1 作为代码高亮类库。默认支持语言：@(String.Join(", ", _defaultHighlightLanguages.Order()))。
                    </FluentLabel>
                </div>

                <FluentStack Orientation="Orientation.Vertical" VerticalGap="16" Class="w-full">
                    <div class="w-full">
                        <FluentTextField Name="identifier" @bind-Value="model.HighlightJsUrl" Label="highlight.js Url" Required Class="w-full" />
                        <FluentLabel Typo="Typography.Body" Color="Color.Info">
                            您可以<FluentAnchor Href="https://highlightjs.readthedocs.io/en/latest/building-testing.html" Target="_blank" Appearance="Appearance.Hypertext">重新打包</FluentAnchor> highlight.js 以配置更多语言，或直接使用 CDN 上的 highlight.js 地址。如果未配置，将使用 bammemo 内置的 highlight.js。
                        </FluentLabel>
                        <FluentValidationMessage For="@(() => model.HighlightJsUrl)" />
                    </div>

                    <div class="w-full">
                        <FluentTextField Name="identifier" @bind-Value="model.HighlightCssLightUrl" Label="亮色主题 CSS Url" Required Class="w-full" />
                        <FluentLabel Typo="Typography.Body" Color="Color.Info">
                            您自己的，或 CDN 上的 highlight.js 亮色 CSS 文件地址，如果未配置，将使用 bammemo 内置的 <FluentAnchor Href="https://highlightjs.org/demo#lang=csharp&v=1&theme=github-min&code=bmFtZXNwYWNlIFRlbGVwcm9tcHRlckNvbnNvbGU7CgppbnRlcm5hbCBjbGFzcyBQcm9ncmFtCnsKICAgIHN0YXRpYyB2b2lkIE1haW4oc3RyaW5nW10gYXJncynFJMYqxAHHVS5Xcml0ZUxpbmUoIkhlbGxvIFdvcmxkISIpO8UrfQp9" Target="_blank" Appearance="Appearance.Hypertext">github 亮色主题</FluentAnchor>。
                        </FluentLabel>
                        <FluentValidationMessage For="@(() => model.HighlightCssLightUrl)" />
                    </div>

                    <div class="w-full">
                        <FluentTextField Name="identifier" @bind-Value="model.HighlightCssDarkUrl" Label="暗色主题 CSS Url" Required Class="w-full" />
                        <FluentLabel Typo="Typography.Body" Color="Color.Info">
                            您自己的，或 CDN 上的 highlight.js 暗色 CSS 文件地址，如果未配置，将使用 bammemo 内置的 <FluentAnchor Href="https://highlightjs.org/demo#lang=csharp&v=1&theme=github-dark-min&code=bmFtZXNwYWNlIFRlbGVwcm9tcHRlckNvbnNvbGU7CgppbnRlcm5hbCBjbGFzcyBQcm9ncmFtCnsKICAgIHN0YXRpYyB2b2lkIE1haW4oc3RyaW5nW10gYXJncynFJMYqxAHHVS5Xcml0ZUxpbmUoIkhlbGxvIFdvcmxkISIpO8UrfQp9" Target="_blank" Appearance="Appearance.Hypertext">github 暗色主题</FluentAnchor>。
                        </FluentLabel>
                        <FluentValidationMessage For="@(() => model.HighlightCssDarkUrl)" />
                    </div>

                    <FluentDivider Role="DividerRole.Presentation" Class="w-full" />

                    <div class="w-full">
                        <FluentButton Type="ButtonType.Submit" Loading="isSaving" IconStart="new Icons.Regular.Size20.Save()">保存</FluentButton>
                    </div>
                </FluentStack>
            </FluentEditForm>
        }
        else
        {
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="16" Class="w-full">
                @for (var i = 0; i < 3; i++)
                {
                    <FluentSkeleton Style="width: 6rem; height: 1.25rem;" />
                    <FluentSkeleton Style="width: 100%; height: 1.25rem;" />
                    <FluentSkeleton Style="width: 12rem; height: 1.25rem;" />
                }
            </FluentStack>
        }
    </BammemoSettingLayout>
</div>

<FluentToastProvider />
