@page "/settings"
@page "/settings/site"
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<div>
    <BammemoSettingLayout PageTitle="站点">
        @if (model != null)
        {
            <FluentEditForm Model="@model" OnValidSubmit="@HandleValidSubmit" FormName="site_setting" novalidate>
                <DataAnnotationsValidator />

                <FluentStack Orientation="Orientation.Vertical" VerticalGap="16" Class="w-full">
                    <div class="w-full">
                        <FluentTextField Name="identifier" @bind-Value="model.SiteName" Label="站点名称" Required Class="w-full" />
                        <FluentValidationMessage For="@(() => model.SiteName)" />
                    </div>

                    <div class="w-full">
                        <FluentTextArea Name="identifier" @bind-Value="model.SiteDescription" Label="站点描述" Rows="3" Class="w-full" />
                        <FluentLabel Typo="Typography.Body" Color="Color.Info">
                            用于 SEO，会生成在“首页”的 <code>@("<meta name=\"description\" />")</code> 中。
                        </FluentLabel>
                        <FluentValidationMessage For="@(() => model.SiteDescription)" />
                    </div>

                    <div class="w-full">
                        <FluentInputLabel>Logo</FluentInputLabel>

                        @if (model.SiteLogoUrl != null)
                        {
                            <img src="@model.SiteLogoUrl" style="width: 48px; margin: 6px 0; display: block;" />
                            <FluentButton OnClick="@(_ => model.SiteLogoUrl = null)" Style="margin-right: 6px;">Remove</FluentButton>
                        }

                        <FluentInputFile AnchorId="SiteLogoUploader"
                                         DragDropZoneVisible="false"
                                         Mode="InputFileMode.Stream"
                                         MaximumFileSize="@(1 * 1024 * 1024)"
                                         Accept=".jpg, .png, .ico"
                                         OnFileUploaded="@OnSiteLogoUploadedAsync"
                                         OnCompleted="@(_ => isSiteLogoUploading = false)" />

                        <FluentButton Appearance="Appearance.Accent" Id="SiteLogoUploader" Loading="isSiteLogoUploading">
                            Upload
                        </FluentButton>

                        <FluentLabel Typo="Typography.Body" Color="Color.Info">
                            站点的 Logo，在非移动端页面时显示在左上角，建议不超过1MB，长宽长度一致，不要超过 48px * 48px。
                        </FluentLabel>
                    </div>

                    <div class="w-full">
                        <FluentInputLabel>Favicon</FluentInputLabel>

                        @if (model.FaviconUrl != null)
                        {
                            <img src="@model.FaviconUrl" style="width: 48px; margin: 6px 0; display: block;" />
                            <FluentButton OnClick="@(_ => model.FaviconUrl = null)" Style="margin-right: 6px;">Remove</FluentButton>
                        }

                        <FluentInputFile AnchorId="FaviconUploader"
                                         DragDropZoneVisible="false"
                                         Mode="InputFileMode.Stream"
                                         MaximumFileSize="@(1 * 1024 * 1024)"
                                         Accept=".jpg, .png, .ico"
                                         OnFileUploaded="@OnFaviconUploadedAsync"
                                         OnCompleted="@(_ => isFaviconUploading = false)" />

                        <FluentButton Appearance="Appearance.Accent" Id="FaviconUploader" Loading="isFaviconUploading">
                            Upload
                        </FluentButton>

                        <FluentLabel Typo="Typography.Body" Color="Color.Info">
                            显示在浏览器标签或收藏夹中的 Favicon，建议不超过1MB，长宽长度一致，不要超过 512px * 512px。
                        </FluentLabel>
                    </div>

                    <div class="w-full">
                        <FluentStack Class="w-full" Orientation="Orientation.Vertical" @key="model.SiteKeywords">
                            <FluentInputLabel>Keywords</FluentInputLabel>

                            @if (model.SiteKeywords?.Any() ?? false)
                            {
                                <FluentStack Orientation="Orientation.Horizontal" Wrap Class="w-full">
                                    @for (var i = 0; i < model.SiteKeywords.Count; i++)
                                    {
                                        var index = i;
                                        var keyword = model.SiteKeywords[index];

                                        <BammemoFilterBadge OnClick="@(_ => HandleRemoveSiteKeyword(index))" @key="@($"{index}_{keyword}")">
                                            @keyword
                                        </BammemoFilterBadge>

                                    }
                                </FluentStack>
                            }
                            else
                            {
                                <div class="w-full">请添加</div>
                            }

                            <FluentStack>
                                <FluentTextField @bind-Value="inputedKeyword" />
                                <FluentButton IconStart="@(new Icons.Filled.Size20.Add())" OnClick="HandleAddKeywords" />
                            </FluentStack>

                            <FluentLabel Typo="Typography.Body" Color="Color.Info">
                                请勿包含英文逗号“,”，它会导致 keywords 被截断。
                                <br />
                                用于 SEO，会生成在“首页”的 <code>@("<meta name=\"keywords\" />")</code> 中。
                            </FluentLabel>
                        </FluentStack>
                    </div>

                    <div class="w-full">
                        <FluentStack Class="w-full" Orientation="Orientation.Vertical" @key="model.FooterLinks">
                            <FluentInputLabel>页脚</FluentInputLabel>

                            @if (model.FooterLinks != null)
                            {
                                for (var i = 0; i < model.FooterLinks.Count; i++)
                                {
                                    var index = i;

                                    <FluentStack Orientation="Orientation.Horizontal" Class="w-full" @key="index">
                                        <FluentTextField @bind-Value="model.FooterLinks[index].Text" Placeholder="Text" />
                                        <FluentTextField @bind-Value="model.FooterLinks[index].Url" Placeholder="Url" />
                                        <FluentButton IconStart="@(new Icons.Filled.Size20.Add())"
                                                      OnClick="@(_ => HandleAddFooterLinkLine())" />
                                        <FluentButton IconStart="@(new Icons.Filled.Size20.Subtract())"
                                                      OnClick="@(_ => HandleRemoveFooterLinkLine(index))"
                                                      Style="@(model.FooterLinks.Count == 1 ? "visibility: hidden;" : null)" />
                                    </FluentStack>
                                }
                            }

                            <FluentLabel Typo="Typography.Body" Color="Color.Info">
                                显示在 Bammemo 页面底部的内容。仅填写 Text 显示为纯文字，同时填写 Text 和 Url 则生成为超链接。
                            </FluentLabel>
                        </FluentStack>
                    </div>

                    <FluentDivider Role="DividerRole.Presentation" Class="w-full" />

                    <div class="w-full">
                        <FluentButton Type="ButtonType.Submit" Loading="isSaving" IconStart="new Icons.Regular.Size20.Save()">保存</FluentButton>
                    </div>
                </FluentStack>
            </FluentEditForm>
        }
        else
        {
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="16" Class="w-full">
                @for (var i = 0; i < 3; i++)
                {
                    <FluentSkeleton Style="width: 6rem; height: 1.25rem;" />
                    <FluentSkeleton Style="width: 100%; height: 1.25rem;" />
                    <FluentSkeleton Style="width: 12rem; height: 1.25rem;" />
                }
            </FluentStack>
        }
    </BammemoSettingLayout>
</div>

<FluentToastProvider />